<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @continent.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @continent.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @continent.updated_at %>
</p>


<%= link_to 'Edit', edit_continent_path(@continent) %> |
<%= link_to 'Back', continents_path %>
